<h1 class="ext-3xl font-bold underline">Culture Ke</h1>
<p>Culture Ke is a platform that provides a way to read, input, collaborate and collect information and research for various cultures and communities in Kenya. This is meant to be used by researchers, educators and people who are interested in understanding the culture. There is no central place or resource that have documented pre-colonial way of life and the cultures around communities in Kenya especially written by the people of Kenya. This is a vision to create a library of sorts for this. </p>
