<div class="bg-gray-200 text-center w-4/5 mx-auto">
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Culture Ke</span>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 my-8">Culture Ke is a platform that provides a way to read, input, collaborate and collect information and research for various cultures and communities in Kenya. This is meant to be used by researchers, educators and people who are interested in understanding the culture. There is no central place or resource that have documented pre-colonial way of life and the cultures around communities in Kenya especially written by the people of Kenya. This is a vision to create a library of sorts for this.</p>


    <p data-controller="home"></p>
</div>