<nav class="bg-cyan-600 shadow-md">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <div class="text-xl font-bold">Culture Ke</div>
    <ul class="flex space-x-4">
      <li><a href="/=" class="hover:text-gray-700">Home</a></li>
      <li class="hover:text-gray-700"><%= link_to "Write a story",   %></li>
      <li><a href="/blog" class="hover:text-gray-700">Blog</a></li>
      <li><a href="/wiki" class="hover:text-gray-700">Wiki</a></li>
    </ul>
  </div>
</nav>