<nav class="bg-cyan-600 shadow-md">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <div class="text-xl font-bold">Culture Ke</div>
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:text-gray-700">Home</a></li>
      <li class="hover:text-gray-700"><%= link_to "Write a story", story_new_path %></li>
      <li><a href="/stories" class="hover:text-gray-700">See Stories</a></li>
      <li><a href="/main_pages/about" class="hover:text-gray-700">Blog</a></li>
      <li><a href="/main_pages/about" class="hover:text-gray-700">About</a></li>
      <li><a href="/story/new" class="hover:text-gray-700">Write a Wiki</a></li>
      <li><a href="/main_pages/random" class="hover:text-gray-700">Random THings</a></li>

    </ul>
  </div>
</nav>